* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #1a212b;
    overflow: hidden;
    height: 100vh;
}

/* SIDEBAR */

.sidebar {
    width: 250px;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    background: #0e1217;
    border-right: solid 1px #273140;

    z-index: 10;
}

.logo {
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    /* border-bottom: solid 1px #2f2f45; */
}

.logo img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.options-section {
    flex: 1;
    padding: 20px 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    padding: 14px 18px;

    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 12px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #f5f5f5;

    cursor: pointer;
    transition: 0.25s ease;
}

.option:hover {
    background: #151b24;
    color: #51b17c;
    transform: translateX(5px);
}

/* TOPBAR */

.topbar {
    width: calc(100% - 250px);
    height: 80px;

    position: fixed;
    top: 0;
    left: 250px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #1a212b;
    border-bottom: solid 1px #273140;

    z-index: 9;
}

.topbar__search {
    width: 350px;
    height: 45px;

    padding: 0 15px;

    display: flex;
    align-items: center;
    gap: 10px;

    border: solid 1px #273140;
    border-radius: 12px;

    background: #151b24;

    transition: 0.2s ease;
}

.topbar__search:hover {
    border-color: #51b17c;
    box-shadow: 0 0 15px rgba(139, 92, 246, 0.2);
}

.topbar__search-input {
    width: 100%;

    background: transparent;
    border: none;
    outline: none;

    font-size: 15px;
    color: #f5f5f5;
}

.topbar__search-input::placeholder {
    color: #9ca3af;
}

.topbar__search-icon {
    color: #9ca3af;
}

/* CONTENT */

.content {
    position: absolute;
    top: 80px;
    left: 250px;

    width: calc(100% - 250px);
    height: calc(100vh - 80px);

    padding: 20px;

    display: grid;
    grid-template-rows: 1fr 2.5fr 1.5fr;
    gap: 20px;

    overflow: hidden;
}

/* MAIN CARDS */

.main__cards {
    display: grid;
    grid-template-columns: 3fr 2fr ;
    gap: 20px;

    height: 100%;
}

.left__card,
.right__card {
    border-radius: 20px;
    border: solid 1px #273140;

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: #151b24;

    transition: 0.25s ease;
    height: 100%;
}

.left__card,
.right__card, h2 {
    margin-bottom: 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #f5f5f5;
}

.left__card,
.right__card p {
    font-family: Arial, Helvetica, sans-serif;

    font-size: 14px;
    color: #9ca3af;
}

.left__card:hover {
    transform: translateY(-5px);
    border-color: #51b17c;
    box-shadow: inset 0 0 30px #51b17c27;
}

.right__card:hover {
    transform: translateY(-5px);
    border-color: #5cbef6;
    box-shadow: inset 0 0 30px #5cbef627;
}

/* CARDS */

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    height: 100%;
}

.card {
    padding: 20px;

    border-radius: 20px;
    background: #151b24;
    border: solid 1px #273140;

    transition: 0.25s ease;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    transform: translateY(-5px);
    border-color: #8b5cf6;
    box-shadow: inset 0 0 30px rgba(139, 92, 246, 0.15);
}

.card h2 {
    margin-bottom: 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #f5f5f5;
}

.card p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #9ca3af;
}

/* BOTTOM CARD */

.bottom__card {
    height: 100%;
    padding: 20px;

    border: solid 1px #273140;
    border-radius: 20px;

    background: #151b24;

    transition: 0.25s ease;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom__card h2 {
    margin-bottom: 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #f5f5f5;
}

.bottom__card p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #9ca3af;
}

.bottom__card:hover {
    transform: translateY(-5px);
    border-color: #c4ad47;
    box-shadow: inset 0 0 30px #c4ad4727;
}
